.paper-blue{
    background-color: #337ab7;
    padding-top: 30px;
    padding-bottom: 30px;
    
}
.announcement{
    
    color: white;
    }

.frm-sm{
    max-width: 300px;
    text-align:center;

}
.memberIcon{
    border: 2px solid grey;
    height: 100%;
    width: 100%;
}

.memberIcnDiv{
    display: inline-block;
    height: 4em;
    width: 4em;
    margin: 10px 10px 10px 10px;
}

.steamMemberBar{
    overflow: auto; 
    height: 7em; 
    white-space: nowrap;
}

.steamMemberBar::-webkit-scrollbar { 
    display: none;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
.prefooter{
    /*position: absolute;*/
    /*left: 0;*/
    margin: 0px;
    background-color: #337ab7; 
    color: white; 
    width: 100%;
    padding: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.prefooter a{
    color: white;
    
}

.flip {
    -webkit-perspective: 800;
    perspective: 800;

    position: relative;
    text-align: center;
}
.flip .card.flipped {
    -webkit-transform: rotatey(-180deg);
    transform: rotatey(-180deg);
}
.flip .card {

    height: 100%;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: 0.5s;
    transform-style: preserve-3d;
    transition: 0.5s;
}
.flip .card .face {

    -webkit-backface-visibility: hidden ;
    backface-visibility: hidden ;
    z-index: 2;
   
}
.flip .card .front {
    position: absolute;
    width: 100%;
    z-index: 1;

}
.flip .card .back {
    -webkit-transform: rotatey(-180deg);
    transform: rotatey(-180deg);
}
.inner{margin:0px auto auto auto !important;}