body.csgo{
    background-image: url("csgo2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #3E3526;
    background-position: center top;
}

.btn-hollow{
    background: rgba(255,255,255,.1);
    -webkit-border-radius: 7;
    -moz-border-radius: 7;
    border-radius: 4px;
    font-family: Arial;
    color: #888888;
    font-size: 14px;
    padding: 6px 15px 6px 15px;
    border: solid grey 1px;
    text-decoration: none;
}

.btn-hollow:hover{
    background: rgba(255,255,255,.2);
    color: #ffffff;
    text-decoration: none;
    border: solid #ffffff 1px;
}


