.paper-blue{
    background-color: #337ab7;
    padding-top: 30px;
    padding-bottom: 30px;
    
}
.announcement{
    
    color: white;
    }

.frm-sm{
    max-width: 300px;
    text-align:center;

}
.memberIcon{
    border: 2px solid grey;
    height: 100%;
    width: 100%;
}

.memberIcnDiv{
    display: inline-block;
    height: 4em;
    width: 4em;
    margin: 10px 10px 10px 10px;
}

.steamMemberBar{
    overflow: auto; 
    height: 7em; 
    white-space: nowrap;
}

.steamMemberBar::-webkit-scrollbar { 
    display: none;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}